[Unit]
Description=Netslice Cgroup Anchor (Keeps cgroup alive for nftables)
Before=netslice-routing.service

[Service]
EnvironmentFile=@@SYSCONFDIR@@/netslice.conf
# This creates /sys/fs/cgroup/system.slice/system-netslice.slice
Slice=system-netslice.slice
ExecStart=/usr/bin/sleep infinity

[Install]
WantedBy=multi-user.target